#player {
  /* The image to be shown when receiver app is launched. */
  --splash-image: url('chromecast_ultra.png');

  /* The hue to use for the player. */
  --theme-hue: 180;

  /*  Color for progress bar. */
  --progress-color: rgba(255, 0, 0, 255);
  
   --background-image:url('http://c.hiphotos.baidu.com/image/pic/item/0eb30f2442a7d933b29eb303a04bd11373f0018f.jpg');
}
